@model StudentMentor.EmailTemplates.Views.MentorInvite.MentorInviteEmailModel
<p style="mso-table-lspace:0;mso-table-rspace:0;margin:0 0 10px 0;padding:0px;color:#4a5c66;font:Arial, Geneva, sans-serif; font-size: 14px;line-height: 20px;">
    Hello,
</p>
<p style="mso-table-lspace:0;mso-table-rspace:0;margin:0 0 10px 0;padding:0px;color:#4a5c66;font:Arial, Geneva, sans-serif; font-size: 14px;line-height: 20px;">
    @Model.FirstName @Model.LastName please accept this invite to student mentor collaborator service
    Click on this <a href="@Model.RegistrationUrl">link</a> to accept the invite.
</p>